<div class="modal js-diet-restrictions">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <section class="box">
      	<div class="message is-success">
		  
		  <section class="hero is-success is-bold">
		    <div class="hero-content">
		      <div class="container">
		        <h1 class="title">Do you have any dietary restrictions?</h1>	    
			  		<% @classifications.each do |classification| %>
			   		 
			  		<a href="#" class="button is-warning js-diet" data-type-id=<%="#{classification.id}"%> ><%=classification.name%></a>&nbsp;
					
					<% end %>
					<br><br>
				<a href="#" class="button is-success is-inverted js-search">Find Recipes</a>
			  </div>
		  	</div>
		  </section>


		</div>
      </section>
    </div>
  </div>
  <button class="modal-close"></button>
</div>