<div class="modal js-howmany-modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <section class="box">
      	<div class="message is-success">
		  
		  <section class="hero is-success is-bold">
		    <div class="hero-content">
		      <div class="container">
		        <h1 class="title">How many people are you cooking for?</h1>	 
					<figure>
			        	<a href="#" class=" js-howmany js-howmany-couple"><img src="https://www.askideas.com/media/07/Funny-Tortoise-Couple-Eating.jpg" alt=""></a>
				    	<figcaption><a href="#" class="button is-danger  js-howmany js-howmany-couple">A couple</a></figcaption>
				    </figure><br> 
					<figure>
				    	<a href="#" class=" js-howmany js-howmany-crowd"><img src="http://3stoogiez.com/wp-content/uploads/2015/06/Panda-Family.jpg" alt=""></a><br>
				    	<figcaption><a href="#" class="button is-warning js-howmany js-howmany-crowd">A crowd</a></figcaption>
				    </figure><br>
				    <figure>
				   		<a href="#" class=" js-howmany js-howmany-army"><img src="http://www.funnyanimalpictures.co/pictures/The_Cat_Army_Eating.jpg" alt=""></a>
				    	<figcaption><a href="#" class="button is-info js-howmany js-howmany-army">An army</a></figcaption>
					</figure>

			  </div>
		  	</div>
		  </section>
		</div>
      </section>
    </div>
  </div>
  <button class="modal-close"></button>
</div>