<div class="modal js-howmany-modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <section class="box">
      	<div class="message is-success">
		  
		  <section class="hero is-success is-bold">
		    <div class="hero-content">
		      <div class="container">
		        <h1 class="title">How many people are you cooking for?</h1>	    
			  	
			    	<a href="#" class="button is-danger js-howmany js-howmany-couple">A couple</a>
			   		<br><br>
			    
			    	<a href="#" class="button is-warning js-howmany js-howmany-crowd">A crowd</a>
			    	<br><br>
			   
			    	<a href="#" class="button is-info js-howmany js-howmany-army">An army</a>
			  		<br><br>

			  </div>
		  	</div>
		  </section>
		</div>
      </section>
    </div>
  </div>
  <button class="modal-close"></button>
</div>