<div class="modal js-time-limit">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <section class="box">
      	<div class="message is-success">
		  
		  <section class="hero is-success is-bold">
		    <div class="hero-content">
		      <div class="container">
		        <h1 class="title">How much time do you have to cook?</h1>	  
		        <p><a href="#" class="js-time js-no-time"><img src="http://24.media.tumblr.com/tumblr_mbr4kbovCt1qf8btso1_400.gif" alt=""></a>
			    	<a href="#" class="button is-danger js-time js-no-time">The children are restless</a></p>  
			  		
			   		<br><br>
			    	<img src="https://media.giphy.com/media/JtIMv7cMRUFX2/giphy.gif" alt=""><br>
			    	<a href="#" class="button is-warning js-time js-some-time">Meh</a>
			    	<br><br>
			   		<img src="https://media.giphy.com/media/10VSfHlpMHxx4s/giphy.gif" alt="">br
			    	<a href="#" class="button is-success is-inverted js-time js-all-time">I am Gordon Ramsay</a>
			  	
			  </div>
		  	</div>
		  </section>
		</div>
      </section>
    </div>
  </div>
  <button class="modal-close"></button>
</div>