<div class="modal js-time-limit">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <section class="box">
      	<div class="message is-success">
		  
		  <section class="hero is-success is-bold">
		    <div class="hero-content">
		      <div class="container">
		        <h1 class="title">How much time do you have to cook?</h1>	  
		        <figure>
		        	<a href="#" class="js-time js-no-time"><img src="http://24.media.tumblr.com/tumblr_mbr4kbovCt1qf8btso1_400.gif" alt=""></a>
			    	<figcaption><a href="#" class="button is-danger js-time js-no-time">The children are restless</a></figcaption>
			    </figure><br> 
				<figure>
			    	<a href="#" class="js-time js-some-time"><img src="http://i.imgur.com/kHgR01m.gif" alt=""></a><br>
			    	<figcaption><a href="#" class="button is-warning js-time js-some-time">mmm.. I have time</a></figcaption>
			    </figure><br>
			    <figure>
			   		<a href="#" class="js-time js-all-time"><img src="http://img.irtve.es/contenidos/masterchef/covavuelvemcj.gif" alt=""></a>
			    	<figcaption><a href="#" class="button is-info js-time js-all-time">In training for MasterChef</a></figcaption>
				</figure>			  	
			  </div>
		  	</div>
		  </section>
		</div>
      </section>
    </div>
  </div>
  <button class="modal-close"></button>
</div>