<div class="menus">
  <!-- <div class="columns days-of-week">
  	<div class="column is-2 is-offset-1"><p class="title is-3 is-text-centered">Monday</p></div>
	<div class="column is-2"><p class="title is-3 is-text-centered">Tuesday</p></div>
	<div class="column is-2"><p class="title is-3 is-text-centered">Wednesday</p></div>
	<div class="column is-2"><p class="title is-3 is-text-centered">Thursday</p></div>
	<div class="column is-2"><p class="title is-3 is-text-centered">Friday</p></div>
  </div> -->
	<div class="columns"></div>

<div class="columns">
<% [0,1,2,3,4].each do |i| %>
	<% if i == 0 %>
	  <div class="column is-2 is-offset-1">
	<% else %>
	  <div class="column is-2">
	<% end %>
		
	    <div class="card js-recipe" data-type-id="">
		  <p class="title is-3 is-text-centered"><%=@days[i]%></p>
		  <div class="card-image">
		    <figure class="image is-4by3">
		    
		    <a href="#" data-position-id=<%="#{i}"%> class="icon is-small is-pulled-right js-exchange"><i class="fa fa-times"></i></a>
		      <a class="js-recipe-link" href="/recipes/"><img class="js-image" src="" alt=""></a>
		    </figure>
		  </div>
		  <div class="card-content">
		    <div class="media">
		      <!-- <div class="media-left">  
		      </div> -->
		      <div class="media-content">
		        <div class="title js-title is-5"></div>
		        <div class="subtitle is-6">
				<!-- <a href="#" class="icon is-small is-pulled-left"><i class="fa fa-heart"></i></a> -->
		        <a class="js-origin" href="#" target="blank">[origin]</a></div>
		      </div>
		    </div>

		    <div class="content">
		      Ready in <strong class="js-minutes"></strong> minutes
		      <br>
		      Serves <strong class="js-servings"></strong> 
	    
		    </div>
		  </div>  
		</div>

	  </div>
<% end %>
</div>




