<header>
	<section class="hero is-success is-bold">
	<!-- Hero header: will stick at the top -->
	  <div class="hero-header">
	    <header class="header">
	      <div class="container">
	        <div class="header-left">
	          <!-- <a class="header-item" href="#">
	            <img src="images/bulma-white.png" alt="Logo">
	          </a> -->
	        </div>
	        <div class="header-right header-menu">
	          <span class="header-item">
	            <a class="button is-success is-inverted">
	              <i class="fa fa-shopping-cart"></i>
	            </a>
	          </span>
	        </div>
	      </div>
	    </header>
	  </div>

	  <div class="hero-content">
	    <div class="container">
	      <h1 class="title is-1">
	        <strong>cook-up</strong>
	      </h1>
	      <h2 class="subtitle">
	        everything you need 
	      </h2>
	      <a class="button is-warning is-large js-go"><i class="fa fa-cutlery"></i>Go!</a>
	    </div>
	  </div>
	</section>
</header>

<%= render 'menus' %>

<%= render 'modal_time' %>

<%= render 'modal_calorie' %>

<%= render 'modal_diet' %>





<footer class="footer">

</footer>