<div class="container">
<div class="columns">
<% [0,1,2,3,4].each do |i| %>
    <div class="card js-recipe" data-type-id="">

	  <div class="card-image">
	    <figure class="image is-4by3">
	      <img class="js-image" src="" alt="">
	    </figure>
	  </div>
	  <div class="card-content">
	    <div class="media">
	      <!-- <div class="media-left">  
	      </div> -->
	      <div class="media-content">
	        <div class="title js-title is-5"></div>
	        <div class="subtitle is-6">
			<!-- <a href="#" class="icon is-small is-pulled-left"><i class="fa fa-heart"></i></a> -->
	        <a class="js-origin" href="#" target="blank">[origin]</a></div>
	      </div>
	    </div>

	  </div>  
	</div>&nbsp;
<% end %>
</div>
<br>
</div>