<header class="header">
	<div class="container">
		<div class="header-left">
			<span class="header-item">
			  <h1 class="title">
			        <strong><a href="/">cook-up</a></strong>
			  </h1>
			</span>
		</div>
	</div>
</header>


<div class="container">
	<h2 class="title is-2">Shopping List</h2>
</div>
<div class="container">
	<div class="columns">
		<div class="column is-6">
			<div class="box">
	<% @shopping_list.each do |k,v| %>
		<h3 class="title is-3"><%=k%></h3>

		<% v.each do |i| %>
		<p><%="#{'%g' % i[:quantity]} #{i[:unit]} #{i[:ingredient][:name]}"%></p>

		<% end %>
	<% end %>
			</div>
		</div>
		<div class="column is-6">

		</div>
	</div>
</div>