@import "bulma/components/components";

.title.hilight {
	color: green !important;
	
}

.card {
  position: relative;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 1s;
  border-radius: 3px;
 	&:hover{
 		box-shadow: 5px 5px 5px #888;
 		.card-content{
			height: 300px;
			transition: height 0.3s ease; 
		}
		// .content {
		// 	display: block;
		// }
	}
}

.card.flipped {
	transform:rotateY( 360deg );
}

p.title {
	padding-top: 6px;
	margin-bottom: 6px !important;
}

.card-content {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
}



