@import "bulma/components/components";

.card:hover {
	box-shadow: 5px 5px 5px #888;
}

.title.hilight {
	color: green !important;
	
}

.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  border-radius: 3px;
}

.card.flipped {
	transform:rotateY( 360deg );
}

p.title {
	padding-top: 6px;
	margin-bottom: 6px !important;
}