@import "bulma/elements/elements";

.method {
	font-size: large;
	padding: 20px;
}

.method li {
	padding: 3px;
}

.ingredients li {
	padding: 3px;
}

.header .button:hover {
	border: 1px solid #d3d6db !important;
}
