// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.recipes {
	margin: 0;
}

.js-save-menus {
	display: none;
	position: absolute;
	top: 50px;
    right: 41px;
    border: 1px solid #fff;
    width: 355px;
}

.js-save-menus li {
	margin: 2px;
}

.js-save-menus p {
	color: #577744;
	font-weight: bold;
}

.js-time img {
	height: 128px;
}