<!DOCTYPE html>
<html>
<head>
  <title>cook-up</title>
  <%= stylesheet_link_tag	'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<footer class="footer">
<section class="hero is-success is-bold">
  <div class="hero-content">
  <div class="container">
   <!--  <div class="content is-centered"> -->
      <p>
        <span class="site_name">cook-up.eu</span> made with love by <a href="http://github.com/rachelguerin">Rachel Guerin</a>. 
      </p>
      <p>
        <a class="icon" href="https://github.com/rachelguerin/cook-up">
          <i class="fa fa-github"></i>
        </a>
      </p>
   <!--  </div>-->
  </div> 
  </div>
</section>
</footer>
</body>
</html>
